*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color:white;
    
}

table {
    border: 1px solid rgb(239, 236, 236);
    width: 100%;
    height: 50px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    box-shadow: 5px 2px #888888;
  }
  table[id="title"]{
        background-color: aquamarine;
        font-size: 1.2vmax;
        color: rgba(124, 11, 155, 0.782);
  }
    
  th {
    /* border-bottom: 1px solid black; */
  }
    
  td {
    text-align: center;
    /* border:1px solid black; */
     padding: 1%;
     font-size: .8vmax;
     font-weight: bold;
     word-wrap: break-word;
  }
  td[id="email"]{
        word-wrap: break-word;
        
  }
  tr{
    /* border: 1px solid black; */
  }
  input [type="checkbox"]{
    width: 15px;
    height: 15px;
  }
  .paginationbutton{
    list-style: none;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: right;
    margin-top: 2vh;
    font-size: 1vmax;
   
  }
  .paginationbutton a{
    padding:1vmax;
   margin: 1vmax;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    font-size: 1vmax;
    font-weight: bold;
  }
  .paginationbutton a:hover{
    color: white;
    background-color: rgb(119, 194, 218);
  }
  .paginationActive a{
    color:white;
    background-color: rgb(119, 194, 218);
  }
  label[id="clear1"]{
    font-size: 1.2vmax;
    background-color: rgb(235, 190, 9);
    padding: .2vmax;
    border-radius: 26%;
    cursor: pointer;
  }
  label[id="clear1"]:hover{
    background-color: aqua;
  }
  label[id="edit"]{
    font-size: 1.2vmax;
    background-color: rgb(235, 190, 9);
    padding: .2vmax;
    border-radius: 26%;
cursor: pointer;
  }
  label[id="edit"]:hover{
    background-color: aqua;
  }
  input[id="sort"]{
    background-color: rgb(235, 190, 9);
    padding: .3vmax;
    border-radius: 2vmax;
    font-size: 1vmax;
  }
